<div class="container-fluid">

<%= form_for @loo, url: foursquare_single_action_path, :html => {:class => 'form-stacked'} do |f| %>

<div class="form-group">
  <%= f.label :name %><br />
  <%= f.text_field(:name, autofocus: true) %>
</div>

<div class="form-group">
  <%= f.label :address %><br />
  <%= f.text_field(:address) %>
</div>

<div class="form-group">
    <%= f.label :rating %><br />
    <%= radio_button_tag(:rating, "bad") %>
    <%= label_tag(:rating_bad, "):") %>
    <%= radio_button_tag(:rating, "ok") %>
    <%= label_tag(:rating_ok, "|:") %>
    <%= radio_button_tag(:rating, "good") %>
    <%= label_tag(:rating_good, "(:") %>  
</div>
<table class="review-table">
  <tr>
    <td>
      <%= f.check_box(:key) %>
      <%= f.label :Requires_key %>
    </td>
    <td>
      <%= f.check_box(:baby_changing) %>
      <%= f.label :Baby_changing %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.check_box(:handicapped) %>
      <%= f.label :Handicapped %>
    </td>
    <td>
      <%= f.check_box(:cost) %>
      <%= f.label :Pay_to_use %>
    </td>
    <tr>
      <td>
        <%= f.check_box(:stall) %>
        <%= f.label :Stalls %>
      </td>
      <td>  
        <%= f.check_box(:shower) %>
        <%= f.label :Shower %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.check_box(:toiletries) %>
          <%= f.label :Toiletries %>
        </td>
        <td> 
        <div class="Actions" id="reviewSubmitButton">
  <%= f.submit "Add", {:class => "btn btn-primary" } %>
</div>
        </td>
      </tr>
    </table>

</div>
<% end %>
