<div class="container-fluid">

<%= form_for @loo, url: foursquare_single_action_path, :html => {:class => 'form-stacked'} do |f| %>

<div class="form-group">
  <%= f.label :name %><br />
  <%= f.text_field(:name, autofocus: true) %>
</div>

<div class="form-group">
  <%= f.label :address %><br />
  <%= f.text_field(:address) %>
</div>

<div class="form-group">
    <%= f.label :rating %><br />
    <%= radio_button_tag(:rating, "bad") %>
    <%= label_tag(:rating_bad, "):") %>
    <%= radio_button_tag(:rating, "ok") %>
    <%= label_tag(:rating_ok, "|:") %>
    <%= radio_button_tag(:rating, "good") %>
    <%= label_tag(:rating_good, "(:") %>  
</div>

<div class="form-group">
  <%= f.check_box(:key) %> <span> </span>
  <%= f.label :Requires_key %>
</div>

<div class="form-group">
  <%= f.check_box(:baby_changing) %> <span> </span>
  <%= f.label :Baby_changing %>
</div>

<div class="form-group">
  <%= f.check_box(:handicapped) %><span> </span>
  <%= f.label :Handicapped %>
</div>

<div class="form-group">
  <%= f.check_box(:cost) %> <span> </span>
  <%= f.label :Pay_to_use %>
</div>

<div class="form-group">
    <%= f.check_box(:stall) %><span> </span>
    <%= f.label :Stalls %>
  </div>

  <div class="form-group">
    <%= f.check_box(:shower) %><span> </span>
    <%= f.label :Shower %>
  </div>

  <div class="form-group">
    <%= f.check_box(:toiletries) %><span> </span>
    <%= f.label :Toiletries %>
  </div>


<div class="Actions">
  <%= f.submit "Add", {:class => "btn btn-primary"} %>
</div>
</div>
<% end %>
