<div class="container-fluid">

<%= form_for @loo, url: foursquare_single_action_path, :html => {:class => 'form-stacked'} do |f| %>

<div class="form-group">
  <%= f.label :name %><br />
  <%= f.text_field(:name) %>
</div>

<div class="form-group">
  <%= f.label :address %><br />
  <%= f.text_field(:address) %>
</div>

<div class="btn-group">
  <%= f.radio_button :rating, "bad", :style=>"display:none;" %>
  <button type="button" class="btn btn-default"><img src="<%= image_path('emojis/bad.png') %>" alt="" /></button>

  <%= f.radio_button :rating, "ok", :style=>"display:none;" %>
  <button type="button" class="btn btn-default"><img src="<%= image_path('emojis/meh.png') %>" alt="" /></button>

  <%= f.radio_button :rating, "good", :style=>"display:none;" %>
  <button type="button" class="btn btn-default"><img src="<%= image_path('emojis/good.png') %>" alt="" /></button>
</div>
<table class="review-table">
  <tr>
    <td>
      <%= f.check_box(:key) %>
      <%= f.label :Requires_key %>
    </td>
    <td>
      <%= f.check_box(:baby_changing) %>
      <%= f.label :Baby_changing %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.check_box(:handicapped) %>
      <%= f.label :Handicapped %>
    </td>
    <td>
      <%= f.check_box(:cost) %>
      <%= f.label :Pay_to_use %>
    </td>
    <tr>
      <td>
        <%= f.check_box(:stall) %>
        <%= f.label :Stalls %>
      </td>
      <td>
        <%= f.check_box(:shower) %>
        <%= f.label :Shower %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.check_box(:toiletries) %>
          <%= f.label :Toiletries %>
        </td>
        <td>
        <div class="Actions" id="reviewSubmitButton">
  <%= f.submit "Add", {:class => "btn btn-primary" } %>
</div>
        </td>
      </tr>
    </table>

</div>
<% end %>
