<p><%= @loo.name %></p>
<p><%= @loo.address %></p>
<p><%= @loo.city %>, <%= @loo.state %> <%= @loo.postalCode %></p>

<p>We need information about this place's bathroom. Please rate it!</p>

<%= render :partial => 'new' %>
