
<%= render :partial => 'partials/index' %>
<br>

<div class="keyinfo">
<h1><%= @loo.name %></h1>
<p ></p>
<p><%= @loo.address %></p>
<%= link_to("Map", show_map_path( lat: @loo.lat, lon: @loo.lon) ) %>

</div>
<hr>
<h3>REVIEW</h3>
<p>Please add information about this loo!</p>

</div>
<div class="review-form">
<%= render :partial => 'new' %>
<div>

