<!-- I'm the foursquare page -->
<p><%= @loo.name %></p>
<p><%= @loo.address %></p>

<div>
	<h3>Help us improve the information about this location!</h3>

	<form>
		<%= form_for @loo do |f| %>
			<%= f.label :name, {:class => "shmee"} %>
			<%= f.text_field :name %>
			<%= f.label :address %>
			<%= f.text_field :address %>

		<% end %>
	</form>

</div>