<div class="container">
	
	<%= render "partials/index" %>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="list">


				<% @loos.each do |l| %>
				<% if !l[:fs_id] && l[:user_id] %>
				<div class="loo">
					<div class="main_info">
						<p> <%= l[:name] %> </p>
						<p> <%= l[:address] %> </p>
					</div>
					<div class="human_factors">
						<p> :) <%= l[:rating] %> </p>
						<p> 4.5mi: <%= l[:distance] %> </p>
					</div>
					<div class="details">
						<table style="width:100%">
							<tr>
								<td><img src="assets/emojis/baby.png"> <%= l[:baby_changing] %></td>
								<td><img src="assets/emojis/wheelchair.png"><%= l[:handicapped] %></td>
							</tr>
							<tr>
								<td><img src="assets/emojis/dollar.png"><%= l[:cost] %></td>
								<td><img src="assets/emojis/key.png"><%= l[:key] %></td>
							</tr>
						</table>
					</div>
				</div>
				<%= link_to("View loo", loo_path(l[:id])) %>
				<% else %>
				<div class="main_info">
					<p> <%= l[:name] %> </p>
					<p> <%= l[:address] %> </p>
				</div>
				<div class="details">
						<table style="width:100%">
							<tr>
								<td><img src="assets/emojis/baby.png"> <%= l[:baby_changing] %></td>
								<td><img src="assets/emojis/wheelchair.png"><%= l[:handicapped] %></td>
							</tr>
							<tr>
								<td><img src="assets/emojis/dollar.png"><%= l[:cost] %></td>
								<td><img src="assets/emojis/key.png"><%= l[:key] %></td>
							</tr>
						</table>
				</div>

				<%= link_to("Foursquare result") %>

				<% end %>
				<hr>
				<% end %>
				<%=  %>
			</div>



		</div>
	</div>

	<div class="footer">
		<button type="button" class="btn btn-warning">filter</button>
	</div>
</div>