<div class="container">
	
	<%= render "partials/index" %>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="list">


				<% @loos.each do |l| %>
				<% if l[:user_id] %>
				<div class="loo">
					<div class="main_info">
						<p> <%= l[:name] %> </p>
						<p> <%= l[:address] %> </p>
					</div>
					<div class="human_factors">
						<p> <%= l[:rating] %> </p>
						<p> <%= l[:dist] %> </p>
					</div>
					<div class="details">
						<table style="width:100%">
							<tr>
								<% if l[:baby_changing] == true %>
								<td><img src="assets/emojis/baby.png"> <%= l[:baby_changing] %></td>
								<% end %>
								<% if l[:handicapped] ==  true %>
								<td><img src="assets/emojis/wheelchair.png"><%= l[:handicapped] %></td>
								<% end %>
							</tr>
							<tr>
								<% if l[:cost] != "free" %>
								<td><img src="assets/emojis/dollar.png"><%= l[:cost] %></td>
								<% end %>
								<% if l[:key] == true %>
								<td><img src="assets/emojis/key.png"><%= l[:key] %></td>
								<% end %>
							</tr>
						</table>
					</div>
				</div>
				<%= link_to("View loo", loo_path(l[:id])) %>
				<% else %>
				<div class="main_info">
					<p> <%= l[:name] %> </p>
					<p> <%= l[:address] %> </p>
				</div>

				<%= link_to("Foursquare result", {:controller => :loos, :action => :foursquare_single}, :params => {:fs_id => l[:fs_id]} ) %>

				<% end %>
				<hr>
				</a>
				<% end %>
				<%=  %>
			</div>



		</div>
	</div>

	<div class="footer">
		<button type="button" class="btn btn-warning">filter</button>
	</div>
</div>
