<h2> Loos: </h2>

<% @loos.each do |l| %>
	<% if l[:fs_id] && !l[:user_id] %>
		<p> Name: <%= l[:name] %> </p>
		<p> Address: <%= l[:address] %> </p>
		<%= link_to("Foursquare result") %>
	<% else %>
		<p> Name: <%= l[:name] %> </p>
		<p> Address: <%= l[:address] %> </p>
		<p> Rating: <%= l[:rating] %> </p>
		<p> Baby changing? <%= l[:baby_changing] %></p>
		<p> Handicapped? <%= l[:handicapped] %> </p>
		<p> Cost? <%= l[:cost] %> </p>
		<p> Key required? <%= l[:key] %> </p>
		<%= link_to("View loo", loo_path(l[:id])) %>
	<% end %>
	<hr>
<% end %>
