<%= render "partials/newloo" %>


<form class="form-inline" role="form">

<%= form_for @loo do |f| %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field(:name, autofocus: true) %>
  </div>

  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field(:address) %>
  </div>

  <div class="form-group">
    <%= f.label :rating %><br />
    <%= radio_button_tag(:rating, "bad") %>
    <%= label_tag(:rating_bad, "):") %>
    <%= radio_button_tag(:rating, "ok") %>
    <%= label_tag(:rating_ok, "|:") %>
    <%= radio_button_tag(:rating, "good") %>
    <%= label_tag(:rating_good, "(:") %>  
  </div>

  <div class="form-group">
    <%= f.label :Requires_key %>
    <%= f.check_box(:key) %>
  </div>

  <div class="form-group">
    <%= f.label :Baby_changing %>
    <%= f.check_box(:baby_changing) %>
  </div>

  <div class="form-group">
    <%= f.label :Handicap_accessible %>
    <%= f.check_box(:handicapped) %>
  </div>

  <div class="form-group">
    <%= f.label :Pay_to_use %>
    <%= f.check_box(:cost) %>
  </div>

  <div class="Actions">
    <%= f.submit "Add" %>
  </div>
<% end %>

</form>
