<p> Name: <%= @loo.name %> </p>
<p> Address: <%= @loo.address %> </p>
<p> Rating: <%= @loo.rating %> </p>
<p> Baby changing? <%= @loo.baby_changing %></p>
<p> Handicapped? <%= @loo.handicapped %> </p>
<p> Cost? <%= @loo.cost %> </p>
<p> Key required? <%= @loo.key %> </p>
<p> Stall type: <%= @loo.stall %></p>
<p> Showers? <%= @loo.shower %></p>
<p> toiletries? <%= @loo.toiletries %></p>
<p> Venue: <%= @loo.venue %></p>
<hr>
<% @loo.ratings.each do |rating| %>
  <p> Comment: <%= rating.comment %> </p>
  <p> Rating: <%= rating.rating %> </p>
  <hr>
<% end %>
