<p> Name: <%= @loo.name %> </p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


<%= @loo.address %>

<%= @loo.rating %>

<%= @loo.baby_changing %>

<%= @loo.handicapped %>

<%= @loo.cost %>

<%= @loo.key %>
